{% extends "blog/base.html" %}

{% block content %}

<div class="container">
    <div class="row no-gutters min-vh-100">
        <div class="col-xs-4 ">
        </div>
        <div class="col p-4 m-5" id="main">
            <p class="h3">联系方式</p>
            <hr>
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="/static/images/icon/YiFu.jpeg" class="rounded-0" style="width:30%"/>
                </div>
<!--                <div class="col">-->

<!--                    <h4>实验室地点</h4>-->
<!--&lt;!&ndash;                    <span class="small  float-left">01-02-2020</span>&ndash;&gt;-->
<!--                    <div class="small text-uppercase">北京航天航空大学</div>-->
<!--                    <div class="small text-uppercase">办公地点： 逸夫馆418 </div>-->
<!--                    <div class="small text-uppercase">实验场所：逸夫楼 520</div>-->

<!--                </div>-->
                <div class="w-100 my-3"></div>
                <div>
                    <h4>实验室地点 </h4>
                    <p >
                        北京航天航空大学<br>
                        办公地点： 逸夫馆418<br>
                        实验场所：逸夫楼 520<br>
                        邮编：<br>
                        联系方式：13811563354<br>
                        电子邮箱：dujing@buaa.edu.cn<br>
<!--                        2017－至今  北京航空航天大学生物与医学工程学院、长聘副教授<br>-->
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 ">
        </div>
    </div>
</div>
{% endblock %}