<div class="col-xs-3 ">
    <ul class="nav nav-tabs" data-spy="affix" data-offset-top="125">

            </ul>
    <li><a href="/english/People" class="list-group-item" onclick="changeToPeople();">People
        <span class="sr-only">(current)</span>
    </a></li>

    <li><a href="/english/People/Students" class="list-group-item">Students
        <span class="sr-only">(current)</span>
    </a>
    </li>
<!--&lt;!&ndash;    <li><a href="/english/People/Graduate Students" class="list-group-item">Graduate Students&ndash;&gt; 已经毕业的学生-->

<!--    </a>-->
<!--    </li>-->
    </ul>
</div>

<style>
        ul.nav-tabs{
        width: 200px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
        li::marker { color: white; font-weight:bold; }
</style>