<!DOCTYPE html>
<html><head></head><body><h1>Server Error (404)</h1></body></html>
<!--<html class="no-js" xmlns:blog="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->


<!--	<title>404 page not found - 烂笔头</title>-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
<!--	<link rel="stylesheet" href="/static/404/style.css">-->
<!--	&lt;!&ndash; Google Font &ndash;&gt;-->
<!--	<link href="/static/404/css" rel="stylesheet" type="text/css">-->
<!--	&lt;!&ndash; jQuery &ndash;&gt;-->
<!--	<script type="text/javascript" src="/static/404/jquery-1.11.0.min.js"></script>-->

<!--	&lt;!&ndash; Airplane Animation &ndash;&gt;-->
<!--	<script>-->
<!--      $(document).ready(function() {-->

<!--       function fly(){-->
<!--         plane.css('left', startPos);-->
<!--         plane.animate({left: 2600}, 32000, 'linear')-->
<!--       };-->

<!--        var screenWidth = $(document).width();-->
<!--        var startPos = -700;-->
<!--        var plane = $('#plane')-->

<!--        fly();-->

<!--        setInterval(function() {-->
<!--          fly();-->
<!--        }, 34000);-->

<!--      });-->
<!--    </script>-->

<!--</head>-->

<!--<body style="">-->
<!--	<div class="container">-->
<!--		&lt;!&ndash; Airplane Container &ndash;&gt;-->
<!--		<div id="plane" style="left: 832.644px;">-->
<!--			<span><img src="/static/404/tail-end.png"></span>-->

<!--			&lt;!&ndash; Replace this text with your custom &ndash;&gt;-->
<!--			<span class="tail">Sorry, we can't find what you're looking for</span>-->

<!--			<span><img src="/static/404/plane.png"></span>-->
<!--		</div>-->

<!--		<div class="centerContent clearfix">-->
<!--			&lt;!&ndash; Search Box &ndash;&gt;-->
<!--			<div class="search">-->
<!--				<form action="{% url 'blog:search' %}">-->
<!--				<input type="text" class="searchbox fl" name="key" placeholder="Search for something..." style="font-size: 18px">-->
<!--				<input type="submit" class="searchbox-submit" value="">-->
<!--				</form>-->
<!--			</div>-->
<!--			&lt;!&ndash; Menu &ndash;&gt;-->
<!--			<div class="menu fl">-->
<!--				<a href="{% url 'blog:Home' %}">Home</a>-->
<!--				<a href="{% url 'blog:People' %}">People</a>-->
<!--				<a href="{% url 'blog:Publication' %}">Publication</a>-->
<!--				<a href="{% url 'blog:Contact' %}">Contact</a>-->
<!--				<a href="#">Contacts</a>-->
<!--			</div>-->
<!--			&lt;!&ndash; Footer &ndash;&gt;-->
<!--			<div class="footer fl">-->
<!--				&lt;!&ndash; Social Icons &ndash;&gt;-->
<!--				<div class="social fl">-->
<!--					<a href="https://twitter.com/j_hao104"><img src="/static/404/twitter.png"></a>-->
<!--					<a href="https://plus.google.com/yourname"><img src="/static/404/google.png"></a>-->
<!--					<a href="https://github.com/jhao104"><img src="/static/404/github.png"></a>-->
<!--					<a href="mailto:j_hao104@164.com"><img src="/static/404/email.png"></a>-->
<!--					<a href="#"><img src="/static/404/weibo.png"></a>-->
<!--				</div>-->
<!--				&lt;!&ndash; Credits &ndash;&gt;-->
<!--				<div class="credits">Copyright © 2020 <strong>Yao、Guo</strong>. All Rights Reserved.</div>-->

<!--			</div>-->
<!--		</div>-->

<!--	</div>-->


<!--</body>-->
<!--</html>-->